<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whatdoieat.dao.MenuMapper">

    <resultMap id="muneMap" type="com.example.whatdoieat.entity.MenuEntity">
        <id property="id" column="MENU_ID" />
        <id property="menuName" column="MENU_NAME" />
        <collection property="ingredients" ofType="com.example.whatdoieat.entity.IngredientEntity">
            <result property="ingredientName" column="INGREDIENT_NAMES" />
        </collection>
    </resultMap>

    <select id="search" resultMap="muneMap">
        SELECT
            M.id as MENU_ID 
            , M.name as MENU_NAME
            , I.name as INGREDIENT_NAMES
        FROM MENUS M
        INNER JOIN MENU_INGREDIENT_RELATION R
            ON M.id = R.MUNU_ID
        INNER JOIN INGREDIENT I
            ON R.INGREDIENT_ID = I.id
    </select>

    <select id="canMakeMenus" resultMap="muneMap">
        SELECT
            M.id as MENU_ID 
            , M.name as MENU_NAME
            , I.name as INGREDIENT_NAMES
        FROM MENUS M
        INNER JOIN MENU_INGREDIENT_RELATION R
            ON M.id = R.MUNU_ID
        INNER JOIN INGREDIENT I
            ON R.INGREDIENT_ID = I.id
        
        <if test="ownIngredientEntity != null">
            WHERE I.name IN 
            <foreach item="ownIngredient" collection="list" open="(" separator="," close=")">
                #{ownIngredient.ownIngredientName}
            </foreach>
        </if>
    </select>
</mapper>